h1,
h2,
h3 {
  font-family: "Vollkorn", serif;
  font-weight: 400px;
  font-size: 48px;
  text-align: center;
}

h2 {
  opacity: 0.6;
  text-align: center;
  margin-top: 0;
}
h3 {
  margin-bottom: 0;
  margin-top: 50px;
}
h4 {
  font-weight: 700;
}
h5 {
  text-align: center;
}
body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-family: "Vollkorn", serif;
}
p {
  font-size: 20px;
  text-align: center;
}

.icon {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: #9b1fe8;
}
footer #icon {
  font-size: 48px;
  color: #9b1fe8;
}
.nav-color {
  background-color: #dc9aee;
}
span {
  color: #9b1fe8;
}
#button {
  text-align: center;
}
.button-links {
  display: flex;
  justify-content: center;
}
footer #email {
  text-decoration: none;
  font-size: 48px;
  color: #dc9aee;
}
#projects {
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background-color: #dc9aee;
  color: #000;
  transition: all ease-in-out;
  cursor: pointer;
}
#projects:hover {
  background-color: #fff;
  color: #dc9aee;
}
#contacts {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background-color: #fff;
  color: #dc9aee;
  transition: all ease-in-out;
  cursor: pointer;
}
#contacts:hover {
  background-color: #dc9aee;
  color: #fff;
}
